# gitignore template for Drupal projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore vendor dependencies and scripts
/vendor
/.editorconfig
/.gitattributes

# Ignore sites dependencies and scripts
/web/sites/*/files/css
/web/sites/*/files/js
/web/sites/*/files/php